PORT=3500
MONGO_URI=mongodb://127.0.0.1:27017/db_name
# MONGO_URI=


ACCESS_TOKEN_SECRET=myaccesstokensecret
ACCESS_TOKEN_EXPIRES=30d



COOKIE_SESSION_SECRET=



CLOUDINARY_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=

CLIENT_SSO_REDIRECT_URL=http://localhost:5173